<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home - littleLIGA</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <!--nav bar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
        <nav class="navbar navbar-dark bg-primary">

            <!--logo-->
            <a class="navbar-brand" href="/index.html">
                <img src="/images/logo placeholder.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                littleLIGA
            </a>
        </nav>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--options-->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/index.html">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">League</a>
                <a class="nav-item nav-link" href="/match.html">Matches</a>
                <a class="nav-item nav-link" href="#">Team</a>
                <a class="nav-item nav-link" href="/calendar.html">Calendar</a>
            </div>
        </div>

        <!--sign in button-->
        <div id="signin-btn" class="ms-auto">
            <a class="btn btn-dark btn-rounded" href="/login.html">SIGN IN</a>
        </div>

        <!--account and log out dropdown-->
        <div id="account-dropdown" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                </svg> Account
            </button>
            <ul class="dropdown-menu">
                <li id="admin"><a class="dropdown-item" href="/admin.html">Admin</a></li>
                <li><a class="dropdown-item" href="/logout">Log out</a></li>
            </ul>
        </div>
    </nav>

    <!-- banner -->
    <div id="welcomeBanner" class="text-center" style="display:none;">
        Welcome back, <span id="welcomeName"></span>!
    </div>

    <div class="ticker">
        <span>⚽ Stay updated with schedules, standings, and shared game highlights.</span>
    </div>

    <!-- large banner (with parallax scrolling effect)-->
    <div class="large-banner">
        <div class="large-banner-text">
            <h1>Youth Soccer League for Teens</h1>
        </div>
    </div>
    <div class="overlay-bottom"></div>

    <!-- welcome section -->
    <div class="welcome-section">
        <div class="welcome-content">
            <h2>Welcome to littleLIGA!</h2>
            <p>
                Our mission is to create a fun, competitive, and inclusive space where players
                can grow in skill, teamwork, and sportsmanship.
            </p>
        </div>
    </div>

    <!-- SECTIONS (standings, social feed, calendar) -->
    <div class="flex-container">

        <!-- 1. Standings Section (left column) -->
        <div class="standings-col">
            <!-- title -->
            <h4 class="text-center mt-3 mb-1" style="font-weight:600;">
                Standings
            </h4>
            <hr style="width:50%; margin:0 auto 15px auto; border-top: 2px solid #4a68f0;">

            <!-- standings table -->
            <div class="standings-table-container">
                <table class="table table-striped table-bordered">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th scope="col">Team</th>
                            <th scope="col">W</th>
                            <th scope="col">L</th>
                            <th scope="col">Pts</th>
                        </tr>
                    </thead>
                    <tbody id="userTableBody">
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 2. Social Feed Section (middle column) -->
        <div class="social-feed-col">
            <div class="post-box" id="postBox" style="display:none">
                <!-- Create Post button (only shows for registered user) -->
                <button id="createPostBtn" class="btn btn-primary w-100"> + Create Post</button>
                <!-- feed form (shown after clicking Create Post button) -->
                <!-- caption input -->
                <div id="postForm" class="post-form" style="display:none">
                    <textarea id="postText" class="form-control mb-3" rows="3" placeholder="Enter a message"></textarea>

                    <!-- file (image, video) input -- only 1 file allowed -->
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <label class="btn btn-outline-primary mr-2">
                                📷 Image
                                <input type="file" id="imageInput" accept="image/*" hidden>
                            </label>

                            <label class="btn btn-outline-primary">
                                🎥 Video
                                <input type="file" id="videoInput" accept="video/*" hidden>
                            </label>
                        </div>

                        <!-- checkbox to indicate if post have minors (NFR) -->
                        <label style="color:red">
                            <input type="checkbox" id="containsMinorsCheckbox"> This post contains minors
                        </label>

                        <!-- Cancel and Share button -->
                        <div class="d-flex justify-content-end align-items-center gap-2 mt-3">
                            <button id="cancel-post-btn" class="btn btn-light">Cancel</button>
                            <button id="share-post-btn" class="btn btn-primary">Share</button>
                        </div>
                    </div>

                    <!-- items to send to backend (file, caption, boolean for if contain minors)-->
                    <form id="uploadForm" enctype="multipart/form-data" style="display:none">
                        <input type="file" id="fileInput" name="media">
                        <input type="hidden" name="caption" id="caption">
                        <input type="hidden" name="containsMinors" id="containsMinors">
                    </form>

                    <!-- status message to show if uploading post was success -->
                    <p id="statusMessage"></p>
                    <div id="mediaPreview" style="margin-top: 10px"></div>
                </div>
            </div>
            <!-- load and display all posts -->
            <div id="feed" class="mt-4"></div>
        </div>

        <!-- 3. Calendar Section (right column) -->
        <div class="calendar-col">
            <iframe src="/calendar.html" style="width:100%; height:2000px; border:none; overflow:hidden"
                scrolling="no"></iframe>
        </div>
    </div>

    <footer class="text-center p-3" style="font-size: 0.9rem; color:#aeaeae;">
        © 2025 littleLIGA Teen Soccer League
    </footer>

    <script>
        /**
        * Show sign in button if logged out or show account dropdown if signed in.
        */
        async function checkLoggedUser() {
            let response = await fetch('/loggedUser');
            let user = await response.json();
            const signInBtn = document.getElementById('signin-btn');
            const accountDropdown = document.getElementById('account-dropdown');

            if (user) {
                signInBtn.style.display = 'none';
                accountDropdown.style.display = 'block';
                postBox.style.display = 'block';
                document.getElementById("welcomeBanner").style.display = "block";
                document.getElementById("welcomeName").innerText = user.name;
                allowCreatePost();

                // show admin option only if user is an admin
                if (user.role === 'admin') {
                    document.getElementById('admin').style.display = 'block';
                } else {
                    document.getElementById('admin').style.display = 'none';
                }
            } else {
                signInBtn.style.display = 'block';
                accountDropdown.style.display = 'none';
            }
        }

        /**
         * Reveal the post creation input when user is logged in.
         */
        function allowCreatePost() {
            createPostBtn.onclick = () => {
                createPostBtn.style.display = "none";
                postForm.style.display = "block";
            };
        }
        checkLoggedUser();
    </script>

    <script>
        /**
         * Display a table (highest to lowest points) of all teams (for standings table).
         */
        async function displayTeams() {
            let response = await fetch('/getAllTeams');
            let teams = await response.json();
            let tbody = document.getElementById('userTableBody');

            teams.sort((a, b) => (b.wins * 3) - (a.wins * 3));
            for (let team of teams) {
                const tr = createTeamRow(team);
                tbody.appendChild(tr);
            }
        }

        /**
         * Create a table row for a single team.
         */
        function createTeamRow(team) {
            let tr = document.createElement('tr');
            let teamName = document.createElement('td');
            let teamWins = document.createElement('td');
            let teamLosses = document.createElement('td');
            let teamPoints = document.createElement('td');

            teamName.appendChild(document.createTextNode(team.name));
            teamWins.appendChild(document.createTextNode(team.wins));
            teamLosses.appendChild(document.createTextNode(team.losses));
            teamPoints.appendChild(document.createTextNode(team.wins * 3));

            tr.appendChild(teamName);
            tr.appendChild(teamWins);
            tr.appendChild(teamLosses);
            tr.appendChild(teamPoints);
            return tr;
        }
        displayTeams();
    </script>

    <script>
        const createPostBtn = document.getElementById("createPostBtn");
        const postForm = document.getElementById("postForm");
        const cancelBtn = document.getElementById("cancel-post-btn");

        // Show form when user clicks '+ Create Post'
        createPostBtn.addEventListener("click", () => {
            createPostBtn.style.display = "none";
            postForm.style.display = "block";
        });

        // Hide form when user clicks cancel and clear all inputs
        cancelBtn.addEventListener("click", () => {
            postForm.style.display = "none";
            createPostBtn.style.display = "block";
            statusMessage.style.display = "none";
            resetInputs();
            mediaPreview.innerHTML = "";
        });

        /**
         * Reset all inputs (file, caption, checkbox) in form. 
         */
        function resetInputs() {
            postText.value = "";
            imageInput.value = "";
            videoInput.value = "";
            fileInput.value = "";
            document.getElementById("containsMinorsCheckbox").checked = false;
        }
    </script>

    <script>
        const form = document.getElementById("uploadForm");
        const statusMessage = document.getElementById("statusMessage");

        /**
         * Handle uploading file by alerting if was a success or failure.
         * @param event object event listener
         */
        async function uploadFile(event) {
            event.preventDefault();
            const formData = new FormData(form);

            // Make sure it's a media file
            if (fileInput.files.length > 0) {
                const fileType = fileInput.files[0].type;
                if (!fileType.startsWith("image/") && !fileType.startsWith("video/")) {
                    alert("Only image and video files are allowed.");
                    return;
                }
            }

            try {
                await fetch("/upload", { method: "POST", body: formData });
                statusMessage.innerHTML = `<div class="alert-success">✅ Successfully uploaded!</div>`;
                setTimeout(() => { location.reload() }, 2000);

            } catch (err) {
                console.log(err);
                statusMessage.innerHTML = `<div class="alert-fail">❌ Error uploading file</div>`;
            }
        }
    </script>

    <script>
        const shareBtn = document.getElementById("share-post-btn");
        form.addEventListener("submit", uploadFile);

        // Image button
        imageInput.addEventListener("change", () => {
            if (imageInput.files.length > 0) {
                fileInput.files = imageInput.files;
            }
        });

        // Video button
        videoInput.addEventListener("change", () => {
            if (videoInput.files.length > 0) {
                fileInput.files = videoInput.files;
            }
        });

        // Submit button
        shareBtn.addEventListener("click", () => {
            document.getElementById("caption").value = document.getElementById("postText").value;
            document.getElementById("containsMinors").value =
                document.getElementById("containsMinorsCheckbox").checked ? "true" : "false";

            if (!fileInput.files.length) {
                document.getElementById("fileInput").removeAttribute("name");
            }
            form.dispatchEvent(new Event("submit"));
        });
    </script>

    <script>
        const mediaPreview = document.getElementById("mediaPreview");

        // Image preview
        imageInput.addEventListener("change", () => {
            if (imageInput.files.length > 0) {
                const file = imageInput.files[0];
                mediaPreview.innerHTML = `
            <img src="${URL.createObjectURL(file)}" 
                 style="max-width: 300px; max-height: 300px; margin-top:10px; border-radius:8px; display:block;">`;
            }
        });

        // Video preview
        videoInput.addEventListener("change", () => {
            if (videoInput.files.length > 0) {
                const file = videoInput.files[0];
                mediaPreview.innerHTML = `
            <video controls style="width: 30%; height: 30%; margin-top:10px; border-radius:8px; display:block">
                <source src="${URL.createObjectURL(file)}">
            </video>`;
            }
        });

        // Clear preview when cancel button is clicked
        cancelBtn.addEventListener("click", () => {
            mediaPreview.innerHTML = "";
        });
    </script>

    <script>
        /**
         * Load all posts on feed.
         */
        async function loadPosts() {
            let userResponse = await fetch('/loggedUser');
            let user = await userResponse.json();
            const feed = document.getElementById("feed");
            feed.innerHTML = "";

            try {
                let response = await fetch("/getAllPosts");
                let posts = await response.json();

                // Create HTML elements for each post
                for (let post of posts) {
                    const postCard = document.createElement("div");
                    postCard.className = "feed-post";
                    postCard.innerHTML = createPostCard(post, user);
                    feed.appendChild(postCard);
                }
                attachAdminMinorToggleHandler();

            } catch (err) {
                console.error(err);
            }
        }

        /**
         * Create a post card/section.
         * @param post object
         * @param user object
         * @returns the div element to create the post card/section by DOM
         */
        function createPostCard(post, user) {
            // Create HTML to show either image or video
            let media = "";
            if (post.type && post.type.startsWith("image")) {
                media = `<img src="${post.path}">`;
            } else if (post.type && post.type.startsWith("video")) {
                media = `<video controls><source src="${post.path}"></video>`;
            }
            let adminMinorToggle = createAdminMinorToggle(post, user);
            let likeButton = createLikeButton(post, user);
            let commentButton = createCommentButton(post, user);

            return `
            <div class="post-header d-flex justify-content-between align-items-center mb-2">
                <!-- Post card's header (first line, top left) -->
                <div class="d-flex align-items-center">
                    <!-- Emoji to represent user profile icon -->
                    <svg class="user-icon" viewBox="0 0 24 24" fill="none">
                        <rect x="3" y="3" width="18" height="18" rx="4" fill="#556B8A"/>
                        <circle cx="12" cy="10" r="3" fill="#FFFFFF"/>
                        <path d="M7 17c0-2.5 2-4 5-4s5 1.5 5 4" fill="#FFFFFF"/>
                    </svg>

                    <!-- Show post owner's name and username -->
                        <div class="ms-2 d-flex align-items-center">
                            <strong>${post.owner_id?.name}</strong>
                            <span style="color: gray; font-size: 0.9rem; margin-left: 6px;">
                                @${post.owner_id?.username}
                            </span>
                        </div>
                </div>
                            
                <!-- Show post uploaded date and time at top right in header -->
                <span style="color: gray; font-size: 0.85rem;">
                    ${new Date(post.uploadedAt).toLocaleString()}
                    ${adminMinorToggle ?? ""}
                </span>
            </div>
            
            ${media}
            <p class="mt-2">${post.caption}</p>
            
            <div class="post-footer">
                ${createLikeButton(post, user)}
                ${createCommentButton(post, user)}
            </div>`;
        }

        /**
         * Create the contains minors checkbox in admin's view of landing page so that they can
         * toggle if post has minor or not.
         * @param post object
         * @param user object
         * @returns the div element to create the checkbox for contains minors toggle
         */
        function createAdminMinorToggle(post, user) {
            if (user && user.role === "admin") {
                return `
                <div class="admin-minor-toggle-bottom">
                    <label>
                        <input type="checkbox" class="toggle-minors" data-post-id="${post._id}"
                        ${post.containsMinors ? "checked" : ""}>Contains minors?
                    </label>
                </div>`;
            }
        }

        /**
         * Connect the checkbox to backend so that the toggle can update containsMinors boolean.
         */
        function attachAdminMinorToggleHandler() {
            document.querySelectorAll(".toggle-minors").forEach(box => {
                box.addEventListener("change", async (event) => {
                    let postId = event.target.getAttribute("data-post-id");
                    let value = event.target.checked;

                    // Update the new value for containsMinors in dao
                    await fetch(`/updateContainsMinors/${postId}`, {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ containsMinors: value })
                    });
                });
            });
        }

        /**
        * Create the like reaction button for a post.
        * @param post object
        * @param user object
        * @returns the button element to create the like button
        */
        function createLikeButton(post, user) {
            let liked = user && post.likedBy?.includes(user._id);
            let likeCount = post.likes || 0;

            // Thumbs up outline
            const unclickedThumb = `
            <svg xmlns="http://www.w3.org/2000/svg" class="like-icon outline" viewBox="0 0 24 24" width="22" height="22" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
                <path d="M7 10V21H4a2 2 0 0 1-2-2V10a2 2 0 0 1 2-2h3zm3 0V5a3 3 0 0 1 3-3h0a1 1 0 0 1 1 1v4h5.3a2 2 0 0 1 1.9 2.5l-1.5 7a2 2 0 0 1-1.9 1.5H10a2 2 0 0 1-2-2V10z"/>
            </svg>`;

            // Filled in thumbs up (when user clicked on it)
            const clickedThumb = `
            <svg xmlns="http://www.w3.org/2000/svg" class="like-icon filled" viewBox="0 0 24 24" width="22" height="22" fill="currentColor">
                <path d="M7 10v11H4a2 2 0 0 1-2-2V10a2 2 0 0 1 2-2h3zm3 0V5a3 3 0 0 1 3-3h0a1 1 0 0 1 1 1v4h5.3a2 2 0 0 1 1.9 2.5l-1.5 7a2 2 0 0 1-1.9 1.5H10a2 2 0 0 1-2-2V10z"/>
            </svg>`;

            return `
            <button 
                class="footer-btn like-btn ${liked ? "active" : ""}" 
                data-post-id="${post._id}" 
                ${!user ? "disabled" : ""}>
                ${liked ? clickedThumb : unclickedThumb}
                <span class="post-like-counter">${likeCount}</span>
            </button>`;
        }

        /**
         * Create the comment button for a post.
         * @param post object
         * @param user object
         * @returns the button element to create the comment button
         */ 
        function createCommentButton(post, user) {
            const commentCount = post.comments?.length || 0;
            
            const commentIcon = `
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="20" height="20"
            fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/>
            </svg>`;

            return `
            <button class="footer-btn comment-btn" data-post-id="${post._id}" ${!user ? "disabled" : ""}>
                ${commentIcon}
                <span>${commentCount}</span>
            </button>`;

            //temp note: clicking button -> popup to see all comments and comment input
            // guest can see comments in popup but input is hidden
        }
        loadPosts();
    </script>
</body>

</html>